#Ignore the dataset
#IMPORTANT: make sure that your dataset is stored in a folder with the same as the one specified below

hw3_data/*
hw3_data.zip
__MACOSX
p2_evaluate.py
*png
*jpg
hw3_fig/*
model_checkpoint/*
__pycache__/*
bash_output/*